.PerformanceCardsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align:center;
  float: left;
  margin-bottom: 1.25em;

  vertical-align: middle;
}

.headingText{
  padding: 8px;
}
.subheadingText{
  padding: 3% 3% 2% 2% !important;
}