ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}


li {
  float: right;

  a {
    display: block;
    //text-align: center;
    padding: 1em 1em;
    text-decoration: none;
  }

}
